<h2>New Whiskey</h2>

<form class="whiskey" id="add-whiskey" method="POST" action="/whiskeys">
  <div>
    <label for="whiskey-name">Brand:</label>
    <input type='text' name=''
  </div>

  <div>
    <label for =""></label>
    <input type='' name='' id=''>
  </div>

  <div>
    <input type="submit" value="Add Whiskey" class="btn">
  </div>
</form>
